<div class="h_banner show-mobile hidden">
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-5092197082042333"
        data-ad-slot="7533118016"
        data-ad-format="horizontal"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>