<div class="double-squere-ad">
    <div class="s_banner">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5092197082042333"
            data-ad-slot="7533118016"
            data-ad-format="Rectangle"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="s_banner">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5092197082042333"
            data-ad-slot="7533118016"
            data-ad-format="Rectangle"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>