{% include "header.tpl" %}

<div class="wrapper list col-md-9 col-sm-9 col-xs-12">
    <div class="panel panel-primary">
        <div class="filter">
            <h2>Brands</h2>
            <span>Manuella helps you solve your daily shit</span>
            <div class="letter-container">
                {% for letter in alphabet -%}
                   <a href="/brands/{{ letter|lower }}"> {{ letter }} </a>
                {%- endfor %}
            </div>
        </div>
    </div>

    <!-- <div class="path">
        <a href="/">Home</a>
        <a href="/brands">Brands</a>
    </div> -->
    {% include "banners/squere2h.tpl" %}
</div>
<div class="right-ad-small col-md-3 col-sm-3 hidden-xs">
    {% include "banners/vertical.tpl" %}
</div>

{% include "footer.tpl" %}