<div>
    <!-- <form id="search-form" action="search" method="get">
        <input type="text" name="keyword" class="search_text" placeholder="Search"></input>
        <button type="submit" id="search-form-submit" class="search_button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </form> -->
    <form class="navbar-form navbar-left input-group search" role="search" method="get" action="/search">
        <div class="input-group">
            <input type="text" class="form-control search_text" placeholder="Search" name="keyword">
            <button class="btn btn-default input-group-addon search_button" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form> 
</div>