.h_banner{
    width:100%;
    position:relative;
    padding-bottom:15px;
}

.h_banner ins {
    margin:-8px auto 0 !important;
    display:block !important;
}

.double-squere-ad{
    width:90%;
}

.double-squere-ad > div{
    width:50%;
    float: left;
    height: 90px;
}