.navbar{
    position:fixed;
    width:100%;
    top:0;
    border-radius:0;
    z-index:999;
}

.container-fluid{
    max-width:980px;
}

.sticky-right{
    float:right;
}

.navbar-form{
    width:100%;
    margin:8px 0;
    display:inline-flex;
    border:none;
}

.navbar-form > .input-group{
    width:100%;
    margin:0;
    display:inline-flex;
}

.navbar-nav > li:hover{
    text-decoration: underline;
}