@import url('../js/lib/normalize.css/normalize.css');
@import url('bootstrap.min.css');
@import url('ads.css');
@import url('header.css');
@import url('footer.css');
@import url('search.css');
@import url('tablet.css');
@import url('phone.css');
@import url('popups.css');

html{
    height:100%;
    width:100%;
}

body{
    width:100%;
    height:100%;
    padding:52px 0 60px 0;
    margin:0;
    background:#e2e2e2;
}

ul,ol{
    list-style: none;
    padding:0;
}

.main-wrapper{
    max-width:980px;
    min-height: 100%;
    margin:0px auto;
    padding:20px 10px 10px 10px;
    background:#f2f2f2;
    /*border-radius: 5px;*/
    box-shadow: 1px 0px 5px 0px rgba(20,20,20,0.6);
    overflow: hidden;
}

.navbar-nav > li > a{
    line-height: 24px !important;
}

.logo-text{
    position: relative;
    top: -3px;
}

.featured img{
    width:100%;
}

.main-logo{
    width:44px;
    height:44px;
    margin-top: -10px;
    display: inline !important;
}

.featured span{
    display: block;
    text-align: center;
}

.main-left-ad{
    height:400px;
    background:blue;
    margin-top:5px;
}

.main-container{
    /*height:200px;*/
    margin-top:5px;
}

.filter{
    width:100%;
    padding:10px;
    border:solid 1px white;
    border-bottom-width:0;
    box-shadow: rgba(20, 20, 20, 0.6) 0px -2px 2px ;
    border-radius: 10px 10px 0 0;
    background: -webkit-linear-gradient(rgba(73, 145, 183, 1), rgba(73, 145, 183,0) 80%);
    background: linear-gradient(rgba(73, 145, 183, 1), rgba(73, 145, 183,0) 80%);
    margin-bottom: 20px;
}

.filter > h2{
    /*color:#202020;*/
    margin:0;
    padding:10px;
}

.letter-container{
    text-align: center;
}

.letter-container a{
    padding:2px;
}

.wrapper.list .result-group h2/*[id^="letter-"]*/{
    background: #B1DBF2;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 24px;
    padding: 5px;
    margin: 5px 0;
    border:solid 1px #05405F;
    display: table;
    width:100%;
}

.wrapper.list .result-group h2 a{
    font-size:10px;
    float:right;
    margin-right:10px;
    line-height:25px;

}

.wrapper.list ul{
    padding: 10px 15px 0px 30px;
    display: inline-block;
    width:100%;
}

.wrapper.list li{
    width:25%;
    float:left;
    padding-right:5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:hidden;
    position: relative;
}

.wrapper.homepage{
    width:100%;
}

.wrapper.alphabet ul{
    display: inline;
    float:left;
    padding:5px;
    font-size: 16px;
}

/*ul.ul-columns-4 li:hover{
    overflow: visible;
}

ul.ul-columns-4 li:hover:after{
    content: attr(tooltip);
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: -4px;
    color: #fff;
    left: -15px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    pointer-events: none;
    cursor: pointer;
}*/

.brands-list{
    padding: 5px 30px;
    margin-bottom:30px;
    /*overflow: hidden;*/
    display:table;
}

.main-container .title{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30px;
    background:orange;
    font-size: 24px;
    color:white;
    line-height: 30px;
    text-indent: 20px;
}

.right-ad-small{
    /*height:250px;
    background:url('/img/ads/right-small.jpg');
    background-size: cover;*/
    margin-top:20px;
}

h3.panel-title > a:last-of-type{
    font-size: 12px;
    line-height: 16px;
}

.panel-title > a:last-of-type{
    float: right;
}

.panel-title > a + span + a{
    float:none !important;
    font-size: 16px !important;
}

.scrollable-H-content .block{
    margin-top: 30px;
    margin-left:10px;
    height: 180px;
    width: 150px;
    display: block;
    float: left;
}

.scrollable-H-content .block:first-child{
    margin-left: 0;
}

.scrollable-h{
    width:100%;
    overflow-y:hidden;
    overflow-x:auto;
}

.scrollable-H-content{
    width: 1200px;
    height:100%;
    overflow: hidden;
}

.row{
    margin: 0;
}

.icon-menu{
    width:40px;
    height:40px;
    float:left;
    line-height: 48px;
    cursor: pointer;
}

.left-banner{
    height:800px;
}

.container-fluid > p:first-of-type{
    margin-left:0;
}

.target {
    visibility: hidden;
    position: relative;
    top: -60px;
}

.list-wrapper > h2{

}

#search-form .search_text{
    height: 48px;
    font-size: 28px;
    text-indent: 10px;
    max-width: 80%;
}

#search-form .search_button{
    height: 48px;
    width: 48px;
    line-height: 48px;
    font-size: 24px;
    text-align: center;
}

.result-group{
    width:98%;
    margin: 0 auto;
}

.result-group:target{
    /*height: auto;*/
}

.path a{
    background: #428BCA;
    padding: 5px 10px;
    color: #F0F8FF;
}

.path{
    text-indent: 20px;
    margin-bottom: 10px;
}

/* bootstrap fixes */
[class^='col-'] > [class^='col-']{
    padding:0 !important;
}


/*--IE8 viewer fixes--*/

.pure-g, .pure-u-1-5, .pure-u-3-5{
    width: 100% !important;
    max-height: 100% !important;
    min-height: 100% !important;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}

.main-wrapper.ieviewer{
    max-height: 100%;
    position: relative;
    padding:0;
}

#viewer{
    margin: 5px 0;
}

.ie11 .search_button{
    width: 1% !important;
}

.ie11 .search_button, .ie .search_text{
    display: table-cell !important;
}

.ie11 .input-group{
    display: inline-table !important;
}