@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
    body{
        padding: 52px 0 0 !important;
    }

    .main-wrapper{
        padding: 15px 5px 0px !important;
    }

    .wrapper.list li{
        width:100% !important;
    }

    .wrapper.list ul{
        padding: 0 15px !important;
    }

    .wrapper{
        width:100%;
    }

    .main-container > .title{
        font-size: 16px !important;
    }

    .search-image, .search-info{
        display: block;
    }

    .hide-mobile{
        display: none !important;
    }

    .show-mobile{
        display: block !important;
    }

    .double-squere-ad{
        width:100%;
    }

    .double-squere-ad > div{
        width:100%;
    }

    #outerContainer {
        border-radius: 0;
        margin: 0;  
    }

    [class^='col-'] > [class^='col-'][class*='-12']{
        padding:0 !important;
    }

    .no-footer-mobile #footer{
        display: none;
    }

    .main-logo{
        height: 40px !important;
        width: 40px !important;
    }
}