.popup{
    position:fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    width:100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup-body{
    max-width: 980px;
    width:100%;
    height:90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 5%;
    bottom: 5%;
}

.popup-body > .panel{
    margin-bottom: 0;
    height: 100%;
}

.popup-body .panel-body{
    overflow: hidden;
    height: 100%;
    padding-bottom: 40px;
    padding-right: 0;
}

.text-holder{
    overflow: auto;
    height: 100%;
    width: 100%;
}

.text-holder > p{
    margin-right:15px;
}

.popup-body h5{
    margin-top: 5px;
}

.btnClose{
    cursor: pointer;
}

.btnClose:hover{
    color:red;
}

