.search-result a{
    float:left;
    display: block;
    clear: both;
}

.search-result{
    /*height: 200px;*/
    margin-bottom: 10px;
    /*box-sizing: content-box;*/
    padding-bottom: 10px;
    border-bottom: solid 1px #888;
/*    display: inline-block;
    width:100%;*/
}

.wrapper.search img{
    height:200px;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
}

.search-image:hover img:not(.noimg){
    position:absolute;
    z-index: 99;
    height:400px;
    border: solid 1px darkgrey;
    box-shadow: 5px 7px 27px -7px grey;
}

.search-image{
    display: inline-block;
    position:relative;
    height: 200px;
}

.search-info, .search-image{
    /*float:left;*/
    margin: 0 auto;
}

.pagination-wrapper{
    display:block;
    text-align: center;
}