/*tablets and phones*/

@media (max-width:961px){
    body{
        padding: 51px 0 50px 0 !important;
    }

    .main-wrapper{
        border-radius: 0px !important;
        box-shadow: none !important;
        margin: 0 auto !important;
        padding:15px 5px 5px 5px !important;
    }

    .navbar-form > .input-group > button{
        width:10%;
    }

    .navbar-form{
        padding:0 5px;
    }

    .wrapper.list li{
        width:33% !important;
    }

    .search-image:hover img{
        position:relative;
        z-index: initial;
        width:auto;
        height:200px;
    }
}